/*

	tdstyle.css

*/
body,div,p,span{
	padding:0px;
	margin:0px;
}

/*
  Fonts ----------------------------------------
*/
.fnt10{
	font-family:arial;
	font-size:10px;
}
.fnt12{
	font-family:arial;
	font-size:12px;
}
.fnt16{
	font-family:arial;
	font-size:16px;
}
.fnt32{
	font-family:arial;
	font-size:32px;
}
.fnt48{
	font-family:arial;
	font-size:48px;
}
.fntshadow{
	//text-shadow: 4px 4px #888888;
}

/*
  Margins ----------------------------------------
*/
.mt8{
	margin-top:8px;
}
.mt16{
	margin-top:16px;
}
.mb8{
	margin-bottom:8px;
}
.tal{
	text-align:left;
}
.tar{
	text-align:right;
}

/*  
  Misc ----------------------------------------
*/
.header{
	padding:32px;
}
.headspacer{
	height:48px;
}
.customnavbar{
	background-color:#dddddd;
	padding-top:8px;
	padding-bottom:12px;
	padding-left:8px;
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
}
.working{
	background-color:#dddddd;
	padding-top:8px;
	padding-bottom:12px;
	padding-left:8px;	
	visibility: visible;
}
.footer{
	margin:8px;
	color:#888888;
	text-align:center;
	font-family:arial;
	font-size:10px;
}
.bwidth196{
	width:164px;
}

/*
  Error ----------------------------------------
*/
@keyframes flash{  
	0% {color:white;}
	50% {color:red;}
	100% {color:white;}
}
@-webkit-keyframes flash{
	0% {color:white;}
	50% {color:red;}
	100% {color:white;}
}
.flash{
	-webkit-animation: flash 1s linear infinite;
	-moz-animation: flash 1s linear infinite;
	animation: flash 1s linear infinite;
	visibility: hidden;
}

/*
  Login ----------------------------------------
*/
.login{
	width:320px;
	//background-color:#aaaaaa;
	padding:32px;
	margin-top:24px;
	/* text-align:left; */
	box-shadow: 4px 4px 8px grey;
	border:solid 1px;
}
.register{
	width:320px;
	background-color:#aaaaaa;
	padding:32px;
	margin-top:24px;
	/* text-align:left; */
	box-shadow: 4px 4px 8px grey;
	border:solid 1px;
}
.liuser{
	color:#000000;
	resize:none;
	width:16em;
	height:32px;
	padding:4px;
	margin:4px;
	border:solid 1px;
	border-color: #aaaaaa;
}
.lipass{
	color:#000000;
	resize:none;
	width:16em;
	height:32px;
	padding:4px;
	margin:4px;
	border:solid 1px;
	border-color: #aaaaaa;
}
.libut{
	width:16em;
	background-color:#888888;
	padding:6px;
	margin:4px;
}
.libut:hover{
	cursor:pointer;
	background-color:#cccccc;
}

/*
  ToDoElements ----------------------------------------
*/
.todotab{
	background-color:#ffffff;
	border-spacing: 16px;
	border-collapse: separate;
	visibility: hidden;
}
.todoline{
	border-radius: 16px;
	background-color:#ffff88;
	padding:16px;
	box-shadow: 4px 4px 8px grey;
}
.todoline:hover{
	background-color:#ffffbb;
	border:solid 0px;
	cursor:pointer;
}
.todofkts{
	vertical-align:top;
}
.todota{
	width: 320px;
	height: 36px;
	padding: 6px;
	margin-top:24px;
	margin-bottom:24px;
	border:solid 1px;
	border-color: #aaaaaa;
	visibility: visible;
}
.mo:hover{
	cursor:pointer;
}
