<!-- Login -->
<center>
	<div>&nbsp;</div>
	<div class="fnt32">Dr ToDo Little</div>
	<div>&nbsp;</div>
	<input id="liusername" type="text" ng-model="user.email" name="liusername" placeholder="Username" class="liuser fnt16" ng-keydown="loginKeydown($event);" tabindex=1></input>
	<br>
	<input type="password" ng-model="user.password" name="lipass" placeholder="Password" class="lipass fnt16" ng-keydown="loginKeydown($event);" tabindex=2></input>
	<div>&nbsp;</div>
	<button class="btn btn-default bwidth196" type="button" ng-click="dologin()">Login</button>
	<div class="fnt12">or</div>
	<button class="btn btn-default bwidth196" type="button" ng-click="showRegister()">Register</button>
	<div>&nbsp;</div>
	<div class="flash">{{errormsg}}</div>
</center>
