<!-- Login -->
<center>
	<div class="logo fnt32">Dr ToDo Little</div>
	<input
		id="liusername"
		type="text"
		ng-model="user.email"
		placeholder="E-Mail"
		class="form-control liuser fnt16"
		ng-keydown="loginKeydown($event)"
		tabindex="1">
	</input>
	<input
		id="lipass"
		type="password"
		ng-model="user.password"
		placeholder="Password"
		class="form-control lipass fnt16"
		ng-keydown="loginKeydown($event)"
		tabindex="2">
	</input>
	<button
		id="libut"
		class="btn btn-default bwidth196"
		type="button"
		ng-click="doLogin()"
		tabindex="3">
		Login
	</button>
	<div class="fnt12" ng-click="goResetPwd()"><a class="fp">Forgot your password?</a></div>
	<div class="input-group" style="position:relative">
		<span>
			<input
				id="rememberme"
				type="checkbox"
				style="position:absolute;">
			</input>
		</span>
		<span
			style="margin-left:18px">
			<a class="fnt12 fp" ng-click="doRememberMe()">Remember me</a>
		</span>
	</div>
	<div>&nbsp;</div>
	<div class="fnt10">or</div>
	<button
		class="btn btn-default bwidth196"
		type="button"
		ng-click="doLoginWithGoogle()">
		Login with Google
	</button>
	<div>&nbsp;</div>
	<div class="fnt10">or</div>
	<button
		class="btn btn-default bwidth196"
		type="button"
		ng-click="goRegister()">
		Register
	</button>
	<div>&nbsp;</div>
	<div class="flash">{{ errormsg }}</div>
</center>
