<!-- Main -->

<div class="headspacer">&nbsp;</div>

<!-- Add -->
<center>
<div>
<textarea id="todotxta" ng-model="newtodotxt" ng-keydown="newtodoKeydown($event);" class="todota fnt16" placeholder="New ToDo..."></textarea>
</div>
</center>

<!-- List -->
<div class="container">
	<div class="dropdown pull-left">
	  <button class="btn btn-default dropdown-toggle" type="button" id="filter1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		Filter {{filtertag}}
		<span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="filter1">
		<!-- 16.04.2016 _ Old Filter (Backup)
		<li><a href="/#/main" ng-click="todos=getTodosByTag('Open');filtertag='Open'">Open</a></li>
		<li><a href="/#/main" ng-click="todos=getTodosByTag('Done');filtertag='Done'">Done</a></li>
		-->
		<li><a href="/#/main" ng-click="todos=getTodosByTag('',showdone);filtertag='All'">All</a></li>
		<li ng-repeat="tag in tags">
			<a href="/#/main" ng-click="$parent.filtertag=tag;$parent.showdone=showdone;$parent.todos=$parent.getTodosByTag(tag,showdone)">{{tag}}</a>
		</li>
	  </ul>
	</div>
	<div class="dropdown pull-left">
	  <button class="btn btn-default" type="button" ng-click="togShowdone()">{{showdonetext}}</button>
	</div>
</div>
<div class="container">
	<div class="bootcards-list">
	  <div class="panel panel-default">
		<div class="list-group" ng-repeat="todo in todos">
		  <div class="container list-group-item">
			<div class="pull-right">
				<div class="mo" ng-click="togDone(todo);">
					<span ng-if="todo.predone==false"><img src="images/checkbox_unchecked.png" style="width:24px;height:24px;" /></span>
					<span ng-if="todo.predone==true"><img src="images/checkbox.png" style="width:24px;height:24px;" /></span>
				</div>
				<div class="mo" ng-click="deltodo(todo);"><img src="images/del.png" style="width:24px;height:24px;" />
				</div>
			</div>
			<h4 class="list-group-item-heading" contenteditable="true" ng-keydown="todolineKeydown($event,todo.id);" id="todoid{{todo.id}}">{{todo.topic}}</h4>
		  </div>
		</div>
	  </div>
	</div>
</div>

<!-- Navbar -->
<div class="customnavbar fnt16">
<span ng-click="dosettings();"><img class="mo" src="images/menu-3x.png" alt="settings"></img></span>
</div>
