<!-- Main -->

<div class="headspacer">&nbsp;</div>

<!-- List -->
<div class="container">
	<div class="dropdown pull-left">
	  <button class="btn btn-default dropdown-toggle" type="button" id="filter1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		Filter {{filtertag}}
		<span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="filter1">
		<li><a href="/" ng-click="displaytodos('All')">All</a></li>
		<li ng-repeat="tag in tags">
			<a href="/" ng-click="displaytodos(tag)">{{tag}}</a>
		</li>
	  </ul>
	</div>
	<div class="dropdown pull-left">
	  <button class="btn btn-default" type="button" ng-click="togShowdone()">{{showdonetext}}</button>
	</div>
</div>
<div class="container">
	<div class="bootcards-list">
	  <div class="panel panel-default">
			<input
				id="todotxta"
				ng-model="newtodotxt"
				ng-keydown="newtodoKeydown($event)"
				class="form-control"
				placeholder="New ToDo...">
			</input>
		<div class="list-group" ng-repeat="todo in todos">
		  <div class="container list-group-item">
			<div class="pull-right">
				<div class="mo" ng-click="togDone(todo);">
					<span ng-if="todo.predone==false"><img src="images/checkbox_unchecked.png" style="width:24px;height:24px;" /></span>
					<span ng-if="todo.predone==true"><img src="images/checkbox.png" style="width:24px;height:24px;" /></span>
				</div>
				<div class="mo" ng-click="deltodo(todo);"><img src="images/del.png" style="width:24px;height:24px;" />
				</div>
			</div>
			<p class="fnt10" style="color:#cccccc">ID:{{todo.id}}</p>
			<h4 class="list-group-item-heading" contenteditable="true" ng-keydown="todolineKeydown($event,todo.id);" id="todoid{{todo.id}}">{{todo.topic}}</h4>
		  </div>
		</div>
	  </div>
	</div>
</div>
