<!-- Main -->

<div class="headspacer">&nbsp;</div>

<!-- Menu -->
<center>
<div id='custommenu' class="fnt16 custommenu">
	<div style="margin-bottom:16px; margin-top:24px;">
		<button class="btn btn-default bwidth196" type="button" ng-click="goSettings()">Settings</button>
	</div>
	<div>
		<button class="btn btn-default bwidth196" type="button" ng-click="doLogout()">Logout</button>
	</div>
</div>
</center>

<div>&nbsp;</div>

<!-- List -->
<div class="container">
	<div class="dropdown pull-left">
	  <button class="btn btn-default dropdown-toggle" type="button" id="filter1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		Filter {{filtertag}}
		<span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="filter1">
		<li><a href="/" ng-click="todos=getTodosByTag('',showdone);filtertag='All'">All</a></li>
		<li ng-repeat="tag in tags">
			<a href="/" ng-click="$parent.filtertag=tag;$parent.showdone=showdone;$parent.todos=$parent.getTodosByTag(tag,showdone)">{{tag}}</a>
		</li>
	  </ul>
	</div>
	<div class="dropdown pull-left">
	  <button class="btn btn-default" type="button" ng-click="togShowdone()">{{showdonetext}}</button>
	</div>
</div>
<div class="container">
	<div class="bootcards-list">
	  <div class="panel panel-default">
		<div class="list-group" ng-repeat="todo in todos">
		  <div class="container list-group-item">
			<div class="pull-right">
				<div class="mo" ng-click="togDone(todo);">
					<span ng-if="todo.predone==false"><img src="images/checkbox_unchecked.png" style="width:24px;height:24px;" /></span>
					<span ng-if="todo.predone==true"><img src="images/checkbox.png" style="width:24px;height:24px;" /></span>
				</div>
				<div class="mo" ng-click="deltodo(todo);"><img src="images/del.png" style="width:24px;height:24px;" />
				</div>
			</div>
			<p class="fnt10" style="color:#cccccc">ID:{{todo.id}}</p>
			<h4 class="list-group-item-heading" contenteditable="true" ng-keydown="todolineKeydown($event,todo.id);" id="todoid{{todo.id}}">{{todo.topic}}</h4>
		  </div>
		</div>
	  </div>
	</div>
</div>

<!-- Navbar (alternativ one)-->
<!--
<div class="customnavbar fnt16">
	<div class="row">
	    <div class="col-lg-4 col-lg-offset-4">
	        <div class="input-group">
				<span
					class="input-group-btn mo"
					style="padding-right:8px;">
					<img id="customnavbaricon" class="mo" src="images/menu-3x.png" ng-click="showcustommenu()"></img>
				</span>
				<input
				id="todotxta"
				ng-model="newtodotxt"
				ng-keydown="newtodoKeydown($event)"
				class="form-control"
				placeholder="New ToDo...">
				</input>
				<span class="input-group-btn" style="padding-right:16px;"></span>
	        </div>
    	</div>
	</div>
</div>
-->

<!-- Navbar (alternative two) -->
<div class="customnavbar fnt16">
	<table>
		<tr>
			<td>
				<img
					id="customnavbaricon"
					class="mo"
					src="images/menu-3x.png"
					ng-click="showcustommenu()">
				</img>
			</td>
			<td style="width:100%;padding-left:8px;padding-right:12px;">
				<input
					id="todotxta"
					ng-model="newtodotxt"
					ng-keydown="newtodoKeydown($event)"
					class="form-control"
					placeholder="New ToDo...">
				</input>
			</td>
		</tr>
	</table>
</div>
