<!-- Register -->
<center>
	<div class="logo fnt32">Dr ToDo Little</div>
	<div class="sublogo fnt16">Register</div>
	<input
		id="liusername"
		type="text"
		ng-model="user.email"
		placeholder="E-Mail"
		class="form-control liuser fnt16"
		ng-keydown="loginKeydown($event)"
		tabindex="1">
	</input>
	<input
		type="password"
		ng-model="user.password"
		placeholder="Password"
		class="form-control lipass fnt16"
		ng-keydown="loginKeydown($event)"
		tabindex="2">
	</input>
	<button class="btn btn-default bwidth224" type="button" ng-click="doRegister();" tabindex=9>Register</button>
	<div>&nbsp;</div>
	<div class="fnt12">or</div>
	<button class="btn btn-default bwidth224" type="button" ng-click="goLogin()">Go to Login</button>
	<div>&nbsp;</div>
	<div class="flash">{{errormsg}}</div>
</center>
