<!-- Register -->
<center>
	<div>&nbsp;</div>
	<div class="fnt32">Dr ToDo Little</div>
	<div class="fnt16">Register</div>
	<div>&nbsp;</div>
	<input id="liusername" type="text" ng-model="user.email" name="liusername" placeholder="E-Mail" class="liuser fnt16" ng-keydown="loginKeydown($event);" tabindex=7></input>
	<br>
	<input type="password" ng-model="user.password" name="lipass" placeholder="Password" class="lipass fnt16" ng-keydown="loginKeydown($event);" tabindex=8></input>
	<div>&nbsp;</div>
	<button class="btn btn-default bwidth196" type="button" ng-click="doRegister();" tabindex=9>Register</button>
	<div>&nbsp;</div>
	<div class="fnt12">or</div>
	<button class="btn btn-default bwidth196" type="button" ng-click="goLogin()">Go to Login</button>
	<div>&nbsp;</div>
	<div class="flash">{{errormsg}}</div>
</center>
