<!-- Reset password -->
<center>
	<div class="logo fnt32">Dr ToDo Little</div>
	<div class="sublogo fnt16">Reset password</div>
	<input
		id="liusername"
		type="text"
		ng-model="email"
		name="liusername"
		placeholder="E-Mail"
		class="form-control liuser fnt16"
		ng-keydown="doResetPwdKeydown($event)">
	</input>
	<button
		id="rb"
		class="btn btn-default bwidth196"
		type="button"
		ng-click="doResetPwd()">
		Reset
	</button>
	<div>&nbsp;</div>
	<div class="fnt12">or</div>
	<button
		class="btn btn-default bwidth196"
		type="button"
		ng-click="goLogin()">
		Go to Login
	</button>
	<div>&nbsp;</div>
	<div class="flash">{{errormsg}}</div>
</center>
