<!-- Settings -->

<div class="headspacer">&nbsp;</div>

<!-- Data -->
<div>&nbsp;</div>
<center>
<div class="container fnt16">
	You are
	<br>
	<b>{{user}}</b>
	<br><br>
	<button ng-show="lip=='firebase'" class="btn btn-default bwidth196" type="button" ng-click="goChPwd()">Change password</button>
	<br><br>
	<button ng-show="lip=='firebase'" class="btn btn-default bwidth196" type="button" ng-click="doResetPwd()">Reset password</button>
</div>
</center>

<!-- Navbar -->
<div class="customnavbar fnt16">
<span ng-click="goMain();"><img class="mo" src="images/arrow-left-3x.png" alt="main"></img></span>
</div>
