<div class="fnt14 col-md-4">
	<ul class="list-group">
		<li class="list-group-item">
			Change Password
		</li>
		<li class="list-group-item">
			<form class="cd-form" style="padding:0px; margin:0px;">
				<p class="fieldset" style="padding:0px; margin:0px;">
					<label class="image-replace cd-password" for="signin-password">Password</label>
					<input class="full-width has-padding has-border" id="oldpassword" ng-model="oldPassword" type="password" placeholder="Old Password"></input>
				</p>
				<p class="fieldset" style="padding-top:12px; margin:0px;">
					<label class="image-replace cd-password" for="signin-password">Password</label>
					<input class="full-width has-padding has-border" id="newpassword" ng-model="newPassword" type="password" placeholder="New Password"></input>
				</p>
			</form>
		</li>
		<li class="list-group-item">
			<button class="btn btn-primary glyphicon glyphicon-ok glyphicon" ng-click="doChPwd()" data-toggle="tooltip" data-placement="top" title="Submit"></button>
		</li>
	</ul>
</div>

<!-- old
<div>
	<div style="padding-bottom:12px">Change Password</div>
	<input
		id="oldpassword"
		type="password"
		ng-model="oldPassword"
		placeholder="Old password"
		class="form-control lipass fnt14"
		tabindex="1"
	>
	</input>
	<input
		id="newpassword"
		type="password"
		ng-model="newPassword"
		placeholder="New password"
		class="form-control lipass fnt14"
		tabindex="2">
	</input>
	<button class="btn btn-default" type="button" ng-click="doChPwd()">Do it now</button>
</div>
-->
