<div id="todoarea" style="visibility:hidden">
	<ul id="todoareacontent" class="list-group">
		<li class="list-group-item">
			<button class="btn btn-default dropdown-toggle" type="button" id="filter1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-toggle="tooltip" data-placement="top" title="Filter by tag">
			  Filter {{filtertag}}
			  <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="filter1">
			  <li><a href="" ng-click="displaytodos('All')">All</a></li>
			  <li ng-repeat="tag in tags">
				  <a href="" ng-click="displaytodos(tag)">{{tag}}</a>
			  </li>
			</ul>
			<!-- ng-non-bindable -->
			<span id="___numOfTodos" class="mo" data-toggle="tooltip" data-placement="top" title="Number of currently filtered Todos / Number of all ToDos">&nbsp;{{ numOfTodos.current }} / {{ numOfTodos.all }}</span>
			<span class="pull-right colgreen fnt16" style="padding-top:6px;">
				<span ng-if="showdone" class="mo glyphicon glyphicon-check" ng-click="togShowdone()" data-toggle="tooltip" data-placement="top" title="Show Open"></span>
				<span ng-if="!showdone" class="mo glyphicon glyphicon-unchecked" ng-click="togShowdone()" data-toggle="tooltip" data-placement="top" title="Show Done"></span>
			</span>
			<span class="pull-right colgreen fnt14" style="padding-top:6px;">Show&nbsp;</span>
		</li>
		<li class="list-group-item">
			<div class="input-group">
				<input id="todotxta" ng-model="newtodotxt" ng-keydown="newtodoKeydown($event)" class="form-control" placeholder="New ToDo..."></input>
				<span id="todotxtacount" class="input-group-addon colgrey fnt12 mo" data-toggle="tooltip" data-placement="top" title="Length">{{todotxtacount}} / {{_maxlen}}</span>
			</div>
			<div id='hashtags' style="visibility:hidden"></div>
		</li>
		<!-- id="todoarea" style="visibility:hidden" -->
		<div>
		<li class="list-group-item" contenteditable="false" ng-repeat="todo in todos">
			<span id="todoid{{todo.id}}">
				<!-- done/undone -->
				<span class="pull-left">
					<span class="mo mr12 colgreen fnt16" ng-click="togDone(todo)" contenteditable="false">
						<span ng-if="todo.done==false" class="mo glyphicon glyphicon-unchecked" data-toggle="tooltip" data-placement="top" title="Mark as done"></span>
						<span ng-if="todo.done==true" class="mo glyphicon glyphicon-check" data-toggle="tooltip" data-placement="top" title="Mark as undone"></span>
					</span>
				</span>
				<!-- copy link -->
				<span class="pull-left">
					<span class="mo mr12 colgrey fnt16">
						<span class="mo glyphicon glyphicon-link" ng-click="todocopylink(todo.id)" data-toggle="tooltip" data-placement="top" title="Copy URL to clipboard"></span>
					</span>
				</span>
				<!-- del -->
				<span class="pull-right">
					<span class="colred fnt14">
						<span class="mo glyphicon glyphicon-trash" contenteditable="false" ng-click="deltodo(todo)" data-toggle="tooltip" data-placement="top" title="Delete"></span>
					</span>
				</span>
				<span id="todocontent{{todo.id}}" e-ng-keypress="editTodoKeydown($event,todo.id)" editable-textarea="todo.topic" e-rows="8" e-cols="20" onbeforesave="saveedittodo(todo,$data)">
					{{ todo.topic }}
				</span>
			</span>
		</li>
		</div>
	</ul>
</div>
