<div ng-class="['cd-user-modal', {'is-visible': cdusermodal}]"> <!-- this is the entire modal form, including the background -->
  <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
    <ul class="cd-switcher">
      <li><a ng-class="{'is-selected': loginselected}" ng-click="select_login()" href="javascript:void(0);">Login</a></li>
      <li><a ng-class="{'is-selected': registerselected}" ng-click="select_register()" href="javascript:void(0);">Register</a></li>
    </ul>

    <div id="cd-login" ng-class="{'is-selected': loginselected}"> <!-- log in form -->
      <form class="cd-form">
        <p class="social-login">
          <span class="social-login-facebook"><a href="#"><i class="fa fa-facebook"></i> Facebook</a></span>
          <span class="social-login-google"><a href="javascript:void(0);" ng-click="doLoginWithGoogle()"><i class="fa fa-google"></i> Google</a></span>
          <span class="social-login-twitter"><a href="#"><i class="fa fa-twitter"></i> Twitter</a></span>
        </p>

        <div class="lined-text"><span>Or use your account on Dr ToDo Little</span><hr></div>

        <p class="fieldset">
          <label class="image-replace cd-email" for="signin-email">E-mail</label>
          <input class="full-width has-padding has-border" id="signin-email" ng-model="email" type="email" placeholder="E-mail">
          <span class="cd-error-message">Error message here!</span>
        </p>

        <p class="fieldset">
          <label class="image-replace cd-password" for="signin-password">Password</label>
          <input class="full-width has-padding has-border" id="signin-password" ng-model="password" type="text"  placeholder="Password">
          <a href="javascript:void(0);" class="hide-password">Hide</a>
          <span class="cd-error-message">Error message here!</span>
        </p>

        <p class="fieldset">
          <input type="checkbox" id="remember-me" ng-model="rememberme">
          <label for="remember-me">Remember me</label>
        </p>

        <p class="fieldset">
          <input class="full-width" type="submit" value="Login" ng-click="doLogin()">
        </p>
      </form>

      <p class="cd-form-bottom-message"><a href="javascript:void(0);" ng-click="select_reset()">Forgot your password?</a></p>
      <!-- <a href="javascript:void(0);" class="cd-close-form">Close</a> -->
    </div> <!-- cd-login -->

    <div id="cd-signup"  ng-class="{'is-selected': registerselected}"> <!-- sign up form -->
      <form class="cd-form">
        <p class="social-login">
          <span class="social-login-facebook"><a href="#"><i class="fa fa-facebook"></i> Facebook</a></span>
          <span class="social-login-google"><a href="#"><i class="fa fa-google"></i> Google</a></span>
          <span class="social-login-twitter"><a href="#"><i class="fa fa-twitter"></i> Twitter</a></span>
        </p>

        <div class="lined-text"><span>Or register your new account on Dr ToDo Little</span><hr></div>

        <p class="fieldset">
          <label class="image-replace cd-username" for="signup-username">Username</label>
          <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username">
          <span class="cd-error-message">Error message here!</span>
        </p>

        <p class="fieldset">
          <label class="image-replace cd-email" for="signup-email">E-mail</label>
          <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
          <span class="cd-error-message">Error message here!</span>
        </p>

        <p class="fieldset">
          <label class="image-replace cd-password" for="signup-password">Password</label>
          <input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="Password">
          <a href="javascript:void(0);" class="hide-password">Hide</a>
          <span class="cd-error-message">Error message here!</span>
        </p>

        <p class="fieldset">
          <input type="checkbox" id="accept-terms">
          <label for="accept-terms">I agree to the <a href="javascript:void(0);">Terms</a></label>
        </p>

        <p class="fieldset">
          <input class="full-width has-padding" type="submit" value="Create account">
        </p>
      </form>

      <!-- <a href="javascript:void(0);" class="cd-close-form">Close</a> -->
    </div> <!-- cd-signup -->

    <div id="cd-reset-password"  ng-class="{'is-selected': resetselected}"> <!-- reset password form -->
      <p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

      <form class="cd-form">
        <p class="fieldset">
          <label class="image-replace cd-email" for="reset-email">E-mail</label>
          <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
          <span class="cd-error-message">Error message here!</span>
        </p>

        <p class="fieldset">
          <input class="full-width has-padding" type="submit" value="Reset password">
        </p>
      </form>

      <p class="cd-form-bottom-message"><a href="javascript:void(0);" ng-click="select_login()" >Back to log-in</a></p>
    </div> <!-- cd-reset-password -->
    <a href="javascript:void(0);" class="cd-close-form" ng-click="close_dialog()">Close</a>
  </div> <!-- cd-user-modal-container -->
</div> <!-- cd-user-modal -->
