.drtodolittle-create-todo {
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
}

.drtodolittle-textfield {
    width: 80%;
}

.page-content {
    padding-left: 0em;
    padding-right: 0em;
}

.hidden {
    display: none;
}

.spacer {
    width: 15px;
}

.editmode {
    color: grey;
}